/frontend/dentalage/node_modules

/frontend/dentalage/.idea

/frontend/dentalage/build

*.zip

/backend/flaskbackend/.idea

/backend/flaskbackend/_pycache_

/backend/flaskbackend/venv

*.pth

/frontend/dentalage/src/Instance/COSSettings/COSInstance.js

/backend/springBackend/src/main/resources/application.yml
